// skel-baseline v3.0.1 | (c) n33 | skel.io | MIT licensed

/* Type */

	body, input, select, textarea {
		color: #444; // CB  _palette(fg);
		font-family: Roboto, sans-serif; // CB _font(family);
		font-size: 13pt;
		font-weight: _font(weight);
		line-height: 1.65;

		@include breakpoint(xlarge) {
			font-size: 11pt;
		}

		@include breakpoint(large) {
			font-size: 11pt;
		}

		@include breakpoint(medium) {
			font-size: 12pt;
		}

		@include breakpoint(small) {
			font-size: 12pt;
		}

		@include breakpoint(xsmall) {
			font-size: 12pt;
		}
	}

	strong, b {
		color: _palette(fg-bold);
		font-weight: _font(weight-bold);
	}

	em, i {
		font-style: italic;
	}

	p   {
	    margin-left   : 0;
	    margin-right  : 0;
	    margin-top    : 0;
        margin-bottom : 1.0em;
	    }

	sub {
		font-size: 0.8em;
		position: relative;
		top: 0.5em;
	}

	sup {
		font-size: 0.8em;
		position: relative;
		top: -0.5em;
	}

	blockquote {
		border-left: solid (_size(border-width) * 4) _palette(border);
		font-style: italic;
		margin: 0 0 _size(element-margin) 0;
		padding: (_size(element-margin) / 4) 0 (_size(element-margin) / 4) _size(element-margin);
	}

	hr {
		border: 0;
		border-bottom: solid _size(border-width) _palette(border);
		margin: _size(element-margin) 0;

		&.major {
			margin: (_size(element-margin) * 1.5) 0;
		}
	}

	.align-left {
		text-align: left;
	}

	.align-center {
		text-align: center;
	}

	.align-right {
		text-align: right;
	}
	
/*
 * vim: syntax=sass ts=4 sw=4 sts=4 sr et columns=80 lines=32
 */
