/*

$BeginLicense$
$EndLicense$

*/

body {
    /*
    width: 100%;
    font-family: "Open Sans Light", sans-serif;
    */
}

.name {
    width:  10em;
    margin: 0.5em;
    height: 1.8em;
}

.value {
    width:  20em;
    margin: 0.5em;
    height: 1.8em;
}

/*
vim: syntax=css ts=4 sw=4 sts=4 sr et columns=80
*/
