/*
 * $BeginLicense$
 * $EndLicense$
 *
 */

/*
 * https://stackoverflow.com/questions/224078
 * (how-to-print-only-parts-of-a-page#224084)
 */

@media print 
    {
    .cbNoPrint 
        { 
        display: none !important; 
        }
    } 

body
    {
    padding-top    : 0;
    padding-bottom : 0;
    padding-left   : 0;
    padding-right  : 0;
    background     : #F1F1F1;
    // https://css-tricks.com/almanac/properties/o/overflow-anchor/
    // If not, we have scrolling issues, e.g. on chrome.
    overflow-anchor : none;
    }

/*
 * https://stackoverflow.com/questions/218760/
 * (how-do-you-keep-parents-of-floated-elements-from-collapsing)
 */

.clearfix::after 
    { 
    content : " ";
    display : block; 
    height  : 0; 
    clear   : both;
    }

/*
 * 
 */

h1, h2, h3, h4, h5, h6 
    {
    color       : _palette(fg-bold);
	font-weight : _font(weight-bold);
	line-height : 1.5;
	margin      : 0 0 (_size(element-margin) * 0.5) 0;

	a 
        {
		color: inherit;
		text-decoration: none;
		}
	}

#cbMainContainer
    {
	h2 
        {
		font-size: 1.75em;
	    }

	h3  
        {
		font-size: 1.35em;
	    }

	h4  
        {
		font-size: 1.1em;
	    }

	h5  
        {
		font-size: 0.9em;
	    }

	h6  
        {
		font-size: 0.7em;
	    }
    }

/*
 * SideBar / Mainwindow composition.
 */

#cbSideBar
    {
    float        : left;
    margin-right : -100%;
    position     : relative;
    width        : 25%;
    background   : white;
    @include breakpoint(medium)
        {
        background   : #F1F1F1;
        width        : 100%;
        margin-right : 0;
        }
    }

#cbMainContainer
    {
    display     : block;
    float       : left;
    margin-left : 25%;
    width       : 75%;
    background  : #F1F1F1;
    @include breakpoint(medium)
        {
        width        : 100%;
        margin-right : 0;
        margin-left  : 0;
        }
    }

@media print 
    {
    #cbMainContainer
        {
        margin-left : 0%;
        width       : 100%;
        }
    }

#cbMain
    {
    display      : block;
    // Readibility guide. Would bring us with padding well below 60.
    // https://baymard.com/blog/line-length-readability
    width        : 60em; 
    margin-left  : 2.0em;
    //margin-top   : 2.0em;
    @include breakpoint(medium)
        {
        margin-left  : auto;
        margin-right : auto;
        margin-top   : 2.0em;
        }
    @include breakpoint(large)
        {
        max-width : 90%;
        }
    @include breakpoint(small)
        {
        max-width : 100%;
        }
    }

#cbFooter
    {
    background  : white;
    display      : block;
    width        : 100%;
    max-width    : 60em; // To fit cbMain
    // margin-left  : auto;
    // margin-right : auto;
    margin-left  : 2.0em;
    padding      : 1.5em;
    text-align   : center;
    @include breakpoint(medium)
        {
        margin-left  : auto;
        margin-right : auto;
        }
    @include breakpoint(large)
        {
        max-width : 90%;
        }
    @include breakpoint(small)
        {
        max-width : 100%;
        }
    }

/*
 * 
 */

a
    {
    text-decoration       : none;
    color                 : inherit;

    -webkit-transition : all .35s ease-out;
    -o-transition      : all .35s ease-out;
    transition         : all .35s ease-out;

    &.cbAccent
        {
        color : #d6496c;
        &:hover,
        &:active,
            {
            color: inherit;
            }
        }
    }

.cbArticle a:not(.button)
    {
    color : #d6496c;
    &:hover,
    &:active,
        {
        color: inherit;
        }
    }

.cbNoDisplay
    {
    display : none !important;
    }

.cbJustify
    {
    text-align : justify;
    }


.cbCheck ul,
ul.cbCheck
    {
    list-style-position : outside;
    list-style-type     : "\2713";
    margin-left         : 0;
    padding-left        : 1.0em;
    }

.cbCheck ul,
ul.cbCheck li
    {
    padding-left  : 0.5em;
    margin-bottom : 0.5em;
    }

img.cbAvatar
    {
    min-width     : 0;
    min-height    : 0;
    width         : 48px;
    height        : 48px;
    border-radius : 50%;
    margin-left   : auto;
    margin-right  : auto;
    }

/* 
 * Sidebar stuff
 */

#cbHeader 
    {
    background     : white;
    padding-top    : 2.0em;
    padding-bottom : 0.5em;
    padding-left   : 2.0em;
    width          : 100%;
    position       : relative; /* For child divs absolute positioning */
    z-index        : 500; // _misc(z-index-base) + 1;

    > h1 
        {
        //margin-bottom : 0.5em;
        a 
            {
            font-size: 1.75em;
            }
        img
            {
            height        : 1.50em;
            margin-bottom : -0.35em;
            margin-right  : 0.25em;
            }
        }
    .cbSubTitle
        {
        //margin-bottom : 0.5em;
        font-size     : 85%;
        }
    }

#cbMenuToggle
    {
    position        : absolute;
    right           : 2.0em;
    top             : 2.0em;
    font-size       : 1.25em;
    display         : none; // js will set to inline-block;
    color           : inherit;
    text-decoration : none;
    @include icon('\f0c9');
    &.Close
        {
        @include icon('\f00d');
        }
    }

#cbNav
    {
    background   : white;
    margin-top   : 2.0em;
    padding-left : 3.0em;
    .cbMenu ul,
    .cbRecentPosts ul,
    .cbRecentComments ul,
    .cbTags ul,
    .cbCategories ul,
    .cbArchive ul,
        {
        padding-left    : 0;
        width           : 15em;
        list-style-type : none;
        li
            {
            padding-left : 0;
            display      : block;
            &.Current
                {
                font-weight : bold;
                }  
            }
        li a
            {
            color           : inherit;
            text-decoration : none;
            }
        hr
            {
            margin-top    : 0.3em;
            margin-bottom : 0.3em;
            }
        }
    .cbMenu
        {
        font-size : 95%;
        .cbSiteLogin
            {
            margin-bottom : 1.5em;
            margin-top    : -1.5em;
            @include breakpoint(medium)
                {
                margin-top : 0;
                }
            }
        @include breakpoint(large)
            {
            font-size : 90%;
            }
        }
    .cbRecentPosts,
    .cbRecentComments,
    .cbTags,
    .cbCategories,
    .cbComments,
    .cbArchive,
        {
        font-size : 90%;
        color     : #666;
        @include breakpoint(large)
            {
            font-size : 85%;
            }
        }
    .cbSocial
        {
        margin-bottom : 2.0em;
        a   {
            color           : inherit;
            margin-right    : 1.5em;
            font-family     : FontAwesome;
            text-decoration : none;
            }
        .cbMail a::before
            {
            content     : "\f0e0";
            }
        .cbFacebook a::before
            {
            content     : "\f09a";
            }
        .cbLinkedIn a::before
            {
            content     : "\f0e1";
            }
        .cbFlickr a::before
            {
            content     : "\f16e";
            }
        }
    @include breakpoint(medium)
        {
        max-width      : 90%;
        margin-left    : auto;
        margin-right   : auto;
        padding-top    : 1.0em;
        padding-bottom : 1.0em;
        padding-left   : 10.0em;
        }
    @include breakpoint(small)
        {
        max-width : 100%;
        }
    @include breakpoint(xsmall)
        {
        padding-left : 5.0em;
        }
    }

span.cbDate
    {
    font-size : 85%;
    &::before
        {
        font-family  : FontAwesome;
        content      : "\f073";
        margin-right : 0.5em;
        }
    }

span.cbAuthor
    {
    font-size : 85%;
    &::before
        {
        font-family  : FontAwesome;
        content      : "\f007";
        margin-right : 0.5em;
        }
    }

span.cbPrint
    {
    font-size : 85%;
    &::before
        {
        font-family  : FontAwesome;
        content      : "\f02f";
        margin-right : 0.5em;
        }
    }

span.cbTags
    {
    font-size : 85%;
    &::before
        {
        font-family  : FontAwesome;
        content      : "\f02c";
        margin-right : 0.5em;
        }
    }

span.cbCategories
    {
    font-size : 85%;
    &::before
        {
        font-family  : FontAwesome;
        content      : "\f07b";
        margin-right : 0.5em;
        }
    }

span.cbComments
    {
    font-size : 85%;
    &::before
        {
        font-family  : FontAwesome;
        content      : "\f075";
        margin-right : 0.5em;
        }
    }

/*
 * Articles in post overview
 */


.cbPageHeader
    {
    background     : white;
    border-left    : 7px solid black;
    margin-bottom  : 2.5em;
    padding-bottom : 0.5em;
    padding-top    : 1.5em;
    .cbPageTitle
        {
        margin-left : 3em;
        }
    }

.cbArticle
    {
    background     : white;
    margin-bottom  : 2.5em;
    padding-top    : 2.0em;
    &.cbWithThumb
        {
        padding-top : 0;
        }
    .cbPostThumb img
        {
        width  : 100%;
        height : auto;
        }
    a.cbPostThumb img:hover,
    a.cbPostThumb img:focus,
        {
        opacity : 0.85
        }
    .cbArticleHeader
        {
        text-align : center;
        .cbArticleTitle
            {
            margin-bottom : 0.0em;
            }
        span
            {
            margin-right : 1.0em;
            }
        }
    .cbArticleContent 
        {
        padding-top    : 1.5em;
        padding-bottom : 1.0em;
        padding-left   : 2.0em;
        padding-right  : 2.0em;
        /*
        p:last-of-type 
            {
            margin-bottom : 0;
            }
        */
        }
    }

.cbPagination 
    {
    background    : white;
    text-align    : center;
    margin-bottom : 2.5em;
    padding       : 1.0em;
    a.cbHalf
        {
        width         : 40%;
        margin-left   : 4%;
        margin-right  : 4%;
        margin-top    : 0.5em;
        margin-bottom : 0.5em;
        @include breakpoint(xsmall) 
            {
            width : 80%;
            }
        }
    .button
        {
        min-width : 3em;
        }
    }

div.cbComments
    {
    background    : white;
    margin-top    : 2.5em;
    margin-bottom : 2.5em;
    padding       : 1.0em;
    h3  {
        margin-left : 1.25em;
        }
    #respond p
        {
        margin-left : 1.25em;
        }

    .cbCommentList
        {
        list-style : none;
        margin     : 0;
        .cbCommentMeta img
            {
            margin-right  : 1.0em;
            }
        .cbCommentBody
            {
            margin-top : 1.5em;
            }
        }
    }

.cbTipueResult 
        {
        padding-top    : 0.5em;
        padding-bottom : 0.5em;
        padding-left   : 2.0em;
        padding-right  : 2.0em;
        }
.cbTipueResult a
    {
    border-bottom : 1px dotted;
    }
.tipue_search_content_bold
    {
    background : yellow;
    }

/*
 *
 */

pre {
    margin: 1.5em 0 0;
    padding: 1.5em 3em;
    white-space: pre-wrap;
    word-wrap: break-word;
    }

code,
pre {
    background-color: #f6f6f6;
	font-family: _font(family-fixed);
    font-size: 0.90em;
    }

.codehilite 
    {
    background: _palette(border-bg);
	border-radius: _size(border-radius);
	border: solid _size(border-width) _palette(border);
	font-family: _font(family-fixed);
	font-size: 0.9em;
    margin-bottom : 0.5em;
    margin-top    : 0.5em;
    margin-left   : 0.2em;
    margin-right  : 0.2em;
	padding: 0.25em 0.65em;
    pre
        {
        margin-top    : 0;
        margin-bottom : 0;
        margin-left   : 0;
        margin-right  : 0;
        padding-top   : 0;
        padding-bottom: 0;
        padding-left  : 0;
        padding-right : 0;
        }
	}

/*
 *
 */

figure.cbHalfSize
    {
    width : 50%;
    }
figure.left
    {
    align:left;
    }
figure
    {
    img
        {
        width : 100%;
        }
    }
figcaption 
    {
    text-align : center;
    font-style : italic;
    }


/*
 * From docuwiki that photivo.org manual used.
 */

.noteclassic,
    .noteimportant,
    .notewarning,
    .notetip {
        margin: 2em;
        margin-left: auto;
        margin-right: auto;
        width: 70% !important;
        min-height: 40px;
        clear: both;
        text-align: justify;
        vertical-align: middle;
        border-collapse: collapse;
        padding: 15px 20px 15px 80px;
        background-position: 20px 50%;
        background-repeat: no-repeat;
        -moz-border-radius: 20px;
        -khtml-border-radius: 20px;
        border-radius: 20px;
    }
    .noteclassic {
        background-color: #eef;
        background-image: url(/lib/plugins/note/images/note.png);
    }
    .noteimportant {
        background-color: #ffc;
        background-image: url(/lib/plugins/note/images/important.png);
    }
    .notewarning {
        background-color: #fdd;
        background-image: url(/lib/plugins/note/images/warning.png);
    }
    .notetip {
        background-color: #dfd;
        background-image: url(/lib/plugins/note/images/tip.png);
    }


/*
 * vim: syntax=sass ts=4 sw=4 sts=4 sr et columns=80 lines=32
 */
